* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
}

body {
    background: linear-gradient(rgba(5, 70, 30, 0.8));
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #fff;
}

.hero {
    background: linear-gradient(rgba(5, 70, 30, 0.8), rgba(5, 70, 30, 0.8)), url('https://upload.wikimedia.org/wikipedia/commons/thumb/3/32/Flag_of_Pakistan.svg/2560px-Flag_of_Pakistan.svg.png') center/cover no-repeat;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    padding: 20px;
}

.hero h1 {
    color: white;
    font-size: 2.8rem;
    text-shadow: 0 0 5px #e9eeec;
    animation: fadeInDown 4s ease;
}

@keyframes fadeInDown {
    0% {
        opacity: 0;
        transform: translateY(-30px);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.scroll-down {
    margin-top: 40px;
    font-size: 1.5rem;
    color: #fff;
    animation: bounce 2s infinite;
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}

.quaid-section {
    width: 100%;
    justify-content: center;
    text-align: center;
}

.img img {
    height: 450px;
    width: 400px;
    margin-right: 80px;
    margin-bottom: 10px;
}

.img h4 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-style: italic;
    margin-right: 80px;
}

.intro {
    text-align: left;
    align-items: left;
}

.intro h1 {
    font-weight: bolder;

}

.intro p {
    font-size: larger;
    font-weight: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.intro h1:hover {
    color: black;
    font-weight: bolder;
    margin-left: 50px;
}

.intro p:hover {
    color: black;
    font-size: larger;
    font-weight: 200px;
    margin-left: 50px;
    margin-right: 50px;
}

.intro h5 {
    margin-left: 50px;
    margin-right: 50px;
}

.intro h5:hover {
    color: black;
    margin-left: 50px;
    margin-right: 50px;
}


img {
    width: 100%;
    height: auto;
    max-width: 500px;
}

.hero {
    height: 100vh;
    padding: 20px;
    text-align: center;
}

h1 {
    align-items: center;
    text-align: center;
}

@media (max-width: 768px) {
    .img img {
        width: 100%;
        height: auto;
    }

    .intro p,
    .intro h1,
    .intro h5 {
        margin-left: 10px;
        margin-right: 10px;
    }

    .Landmark-section,
    .cultural-section {
        flex-direction: column;
        align-items: center;
        height: auto;
    }
}

.button-container {
    width: 100%;
    text-align: center;
    justify-content: center;
    display: flex;

}

.btn {
    background: linear-gradient(135deg, #006d2c, #024626);
    color: white;
    border: none;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    padding: 14px;
    border-radius: 50px;
    font-weight: 600;
    box-shadow: 0 5px 20px rgba(0, 168, 89, 0.4);
    justify-content: center;
    align-items: center;
}